
@{
    ViewBag.Title = "Test2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test2</h2>

<a href="/home/Test" class="btn btn-warning">Teste Git</a>
<a href="/Home/Test2/"> Test 2'ye git'</a>